services:
  db:
    image: mysql:8.0
    container_name: dbPos
    volumes:
      - pos_db_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD} # <-- Leído desde .env
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    ports:
      - "3307:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend
    container_name: posBackend
    env_file:
      # <--- AÑADE ESTA SECCIÓN
      - .env
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"

volumes:
  pos_db_data:

    # Nota: Asegúrate de que los nombres de los servicios y las variables de entorno coincidan con tu configuración real.
